process {
    withName: QUALITY_CONTROL {
        container = 'library://wallaulabs/viralflow/fastp:0.23.4'
    }

    withName: ASSEMBLY {
        container = 'library://wallaulabs/deep_virome_explorer/megahit:1.2.9'
    }

    withName: MERGE {
        container = 'oras://community.wave.seqera.io/library/seqtk_vsearch:4f152dbebc9393b8'
    }

    withName: CREATE_DB {
        container = 'oras://community.wave.seqera.io/library/blast:2.16.0--ee6ae29ad5529d04'
    }

    withName: ALIGN {
        container = 'oras://community.wave.seqera.io/library/blast:2.16.0--ee6ae29ad5529d04'
    }

    withName: TAX {
        container = 'library://wallaulabs/deep_virome_explorer/viral_prediction:1.0.1'
    }

    cpus = 4
}

singularity {
    enabled = true
    cacheDir = "${projectDir}/.my_containers"
}

params {
    input_csv = "/home/yagdias/git/wib/input.csv"
    taxon_names = "/home/yagdias/git/wib/nucl_gb.accession2taxid.txt1"
    mode = 2
    db = "/home/yagdias/git/wib/db.fasta"
    taxonomy_db_path = "${projectDir}/assets/taxonomy_db/"
    phred_score = 30
    min_pident = 0
    cut_evalue = 0.001
}