process {
    withName: QUALITY_CONTROL {
        container = 'library://wallaulabs/viralflow/fastp:0.23.4'
    }

    withName: ASSEMBLY {
        container = 'library://wallaulabs/deep_virome_explorer/megahit:1.2.9'
    }

    withName: MERGE {
        container = 'oras://community.wave.seqera.io/library/seqtk_vsearch:4f152dbebc9393b8'
    }

    withName: CREATE_DB {
        container = 'oras://community.wave.seqera.io/library/blast:2.16.0--ee6ae29ad5529d04'
    }

    withName: ALIGN {
        container = 'oras://community.wave.seqera.io/library/blast:2.16.0--ee6ae29ad5529d04'
    }

    withName: TAX {
        container = 'library://wallaulabs/deep_virome_explorer/viral_prediction:1.0.1'
	cpus = 16
    }

    cpus = 64
}


singularity {
    enabled = true
    cacheDir = "${projectDir}/.my_containers"
    autoMounts = true
    runOptions = "--bind /storage2/datasource/nt/nt_11-07-2025"
}

params {
    input_csv = "/storage2/yago/projects/maju/wib/samples.csv"
    taxon_names = "/storage2/yago/projects/maju/wib/nucl_gb.accession2taxid.txt"
    mode = 2
    db = "/storage2/datasource/nt/nt_11-07-2025"
    taxonomy_db_path = "${projectDir}/assets/taxonomy_db/"
    phred_score = 30
    min_pident = 0
    cut_evalue = 0.001
}
