process {
    withName: QUALITY_CONTROL{
        container = 'library://wallaulabs/viralflow/fastp:0.23.4'
    }

    withName: ASSEMBLY{
        container = 'library://wallaulabs/deep_virome_explorer/megahit:1.2.9'
    }

    withName: MERGE{
        container = 'oras://community.wave.seqera.io/library/seqtk_vsearch:4f152dbebc9393b8'
    }

    withName: CREATE_DB{
        container = 'oras://community.wave.seqera.io/library/diamond:2.1.12--bb71aa90f5c5844d'
    }

    withName: ALIGN{
    container = 'oras://community.wave.seqera.io/library/diamond:2.1.12--bb71aa90f5c5844d'
    }
    
    cpus = 8
}

singularity {
    enabled = true
    cacheDir = "$projectDir/.my_containers"
}

params {
    input_csv = "$projectDir/test_files/input.csv"
    mode = 1
    db = "$projectDir/test_files/db.fasta"
}